# Popularity Benchmark

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("../data/raw/train_users_2.csv")
test = pd.read_csv("../data/raw/test_users.csv")

In [3]:
train

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,20140630235636,NaN,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF
213447,mhewnxesx9,2014-06-30,20140630235719,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
213448,6o3arsjbb4,2014-06-30,20140630235754,NaN,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF
213449,jh95kwisub,2014-06-30,20140630235822,NaN,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF
213450,nw9fwlyb5f,2014-06-30,20140630235824,NaN,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF

In [4]:
destination_counts = train["country_destination"].value_counts()
destination_counts

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [5]:
top_5 = list(destination_counts[:5].index)
top_5

['NDF', 'US', 'other', 'FR', 'IT']

In [6]:
results = []
for id in test["id"]:
    for country in top_5:
        results.append((id, country))

In [7]:
results_df = pd.DataFrame(results)
results_df.rename(columns={0: "id", 1: "country"}, inplace=True)
results_df

                id country
0       5uwns89zht     NDF
1       5uwns89zht      US
2       5uwns89zht   other
3       5uwns89zht      FR
4       5uwns89zht      IT
...            ...     ...
310475  9uqfg8txu3     NDF
310476  9uqfg8txu3      US
310477  9uqfg8txu3   other
310478  9uqfg8txu3      FR
310479  9uqfg8txu3      IT

[310480 rows x 2 columns]

In [8]:
results_df.to_csv("baseline_results.csv", index=False)